# Task 4.6

In [3]:
# Import Libraries

import pandas as pd
import numpy as np
import os

In [19]:
# Step 3
# setting path
path = r'/Users/shikhakamboj/Documents/JAN-2025 Instacart Basket Analysis'

# imported  orders_products_combined and products_checked dataframe

df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))
df_prods_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col=0)

In [20]:
# step 4  shape Checked

df_ords_prods_combined.shape

(32640698, 11)

In [21]:
#  Check dataframe structure

df_prods_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [17]:
#  Check dataframe structure

df_ords_prods_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,train,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both

In [55]:
# Step 5
# Merging df_ords_prods_combined dataframe with df_prods_cleaned

df_merged_ords_prods = df_ords_prods_combined.merge(df_prods_cleaned, on = 'product_id', indicator = 'match')

The key column product_id is shared between the two dataframes, enabling a merge. To ensure the final dataframe includes only meaningful data present in both sources, an 'inner' merge is the most appropriate choice.

The merge column from the previous merge is unnecessary for the new merge between df_merged_ords_prods and df_prods_cleaned. For clarity, it should be dropped.

In [57]:
#  Check dataframe structure

df_merged_ords_prods.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,match
0,2,202279,prior,3,5,9,8.0,33120.0,1.0,1.0,both,Organic Egg Whites,86,16,11.3,both
1,2,202279,prior,3,5,9,8.0,28985.0,2.0,1.0,both,Michigan Organic Kale,83,4,13.4,both
2,2,202279,prior,3,5,9,8.0,9327.0,3.0,0.0,both,Garlic Powder,104,13,3.6,both
3,2,202279,prior,3,5,9,8.0,45918.0,4.0,1.0,both,Coconut Butter,19,13,8.4,both
4,2,202279,prior,3,5,9,8.0,30035.0,5.0,0.0,both,Natural Sweetener,17,13,13.7,both

In [59]:
# drop the flag column '_merge' from the previous merge

df_merged_ords_prods.drop('_merge', axis = 1, inplace=True)

In [63]:
# Exported the merged file in pickle format

df_merged_ords_prods.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merged.pkl'))